Flattening Nested Data (Extracting nested data from JSON)

https://www.kaggle.com/jboysen/quick-tutorial-flatten-nested-json-in-pandas

# Import JSON library

In [ ]:
import json

# Convert JSON to a Python Object (List, or Dictionary etc)

In [37]:
JSON = '[1,2,3,{"4":5,"6":7}]'
type(JSON)

str

In [38]:
#json.loads() method
Python_object = json.loads(JSON) #Converts string to python object / recognised code
type(Python_object)

list

In [42]:
#Could also use eval() method
b = eval(JSON)
type(b)

list

# Pull out data from the python object

In [44]:
# Extract specific key
Python_object[0]

1

In [45]:
# Extract a nested key
Python_object[3]['6']

7

# For loop in python object

In [47]:
for key in b:
    print(key)

1
2
3
{'4': 5, '6': 7}

# Convert Python Object to Data frame

In [53]:
c = pd.DataFrame(b)
c

                  0
0                 1
1                 2
2                 3
3  {'4': 5, '6': 7}

In [48]:
from pandas.io.json import json_normalize #package for flattening json in pandas df

In [57]:
json_normalize(data=c, record_path=[0] , 
                            meta=[0])

TypeError: sequence item 0: expected str instance, int found

In [3]:
import json 
import pandas as pd 
from pandas.io.json import json_normalize #package for flattening json in pandas df

#load json object
with open('./perf-history/raw_nyc_phil.json') as f:
    d = json.load(f)

#lets put the data into a pandas df
#clicking on raw_nyc_phil.json under "Input Files"
#tells us parent node is 'programs'
nycphil = json_normalize(d['programs'])
nycphil.head(3)

,concerts,id,orchestra,programID,season,works
0,"[{'Date': '1842-12-07T05:00:00Z', 'eventType':...",38e072a7-8fc9-4f9a-8eac-3957905c0002,New York Philharmonic,3853,1842-43,"[{'workTitle': 'SYMPHONY NO. 5 IN C MINOR, OP...."
1,"[{'Date': '1843-02-18T05:00:00Z', 'eventType':...",c7b2b95c-5e0b-431c-a340-5b37fc860b34,New York Philharmonic,5178,1842-43,[{'workTitle': 'SYMPHONY NO. 3 IN E FLAT MAJOR...
2,"[{'Date': '1843-04-07T05:00:00Z', 'eventType':...",894e1a52-1ae5-4fa7-aec0-b99997555a37,Musicians from the New York Philharmonic,10785,1842-43,"[{'workTitle': 'EGMONT, OP.84', 'composerName'..."

In [4]:
works_data = json_normalize(data=d['programs'], record_path='works', 
                            meta=['id','orchestra','programID', 'season'])
works_data.head(3)

,ID,composerName,conductorName,interval,movement,soloists,workTitle,id,orchestra,programID,season
0,52446*,"Beethoven, Ludwig van","Hill, Ureli Corelli",NaN,NaN,[],"SYMPHONY NO. 5 IN C MINOR, OP.67",38e072a7-8fc9-4f9a-8eac-3957905c0002,New York Philharmonic,3853,1842-43
1,8834*4,"Weber, Carl Maria Von","Timm, Henry C.",NaN,"""Ozean, du Ungeheuer"" (Ocean, thou mighty mons...","[{'soloistName': 'Otto, Antoinette', 'soloistR...",OBERON,38e072a7-8fc9-4f9a-8eac-3957905c0002,New York Philharmonic,3853,1842-43
2,3642*,"Hummel, Johann",NaN,NaN,NaN,"[{'soloistName': 'Scharfenberg, William', 'sol...","QUINTET, PIANO, D MINOR, OP. 74",38e072a7-8fc9-4f9a-8eac-3957905c0002,New York Philharmonic,3853,1842-43

In [5]:
works_data = json_normalize(data=d['programs'], record_path='works', 
                            meta=['id'])
works_data.head(3)

,ID,composerName,conductorName,interval,movement,soloists,workTitle,id
0,52446*,"Beethoven, Ludwig van","Hill, Ureli Corelli",NaN,NaN,[],"SYMPHONY NO. 5 IN C MINOR, OP.67",38e072a7-8fc9-4f9a-8eac-3957905c0002
1,8834*4,"Weber, Carl Maria Von","Timm, Henry C.",NaN,"""Ozean, du Ungeheuer"" (Ocean, thou mighty mons...","[{'soloistName': 'Otto, Antoinette', 'soloistR...",OBERON,38e072a7-8fc9-4f9a-8eac-3957905c0002
2,3642*,"Hummel, Johann",NaN,NaN,NaN,"[{'soloistName': 'Scharfenberg, William', 'sol...","QUINTET, PIANO, D MINOR, OP. 74",38e072a7-8fc9-4f9a-8eac-3957905c0002

In [15]:
def flatten_json(y):
    out = {}

    def flatten(x, name=''):
        if type(x) is dict:
            for a in x:
                flatten(x[a], name + a + '_')
        elif type(x) is list:
            i = 0
            for a in x:
                flatten(a, name + str(i) + '_')
                i += 1
        else:
            out[name[:-1]] = x

    flatten(y)
    return out

In [32]:
flatten_json(f)

{'': <_io.TextIOWrapper name='./perf-history/raw_nyc_phil.json' mode='r' encoding='UTF-8'>}

In [6]:
f

# JSON Converting

In [7]:
a = '[1,2,3,{"4":5,"6":7}]'

In [8]:
a

'[1,2,3,{"4":5,"6":7}]'

In [9]:
type(a)

str

In [12]:
b = eval(a)
type(b)

list

In [13]:
b

[1, 2, 3, {'4': 5, '6': 7}]

In [16]:
flatten_json(b)

{'0': 1, '1': 2, '2': 3, '3_4': 5, '3_6': 7}

In [17]:
pd.DataFrame(b)

                  0
0                 1
1                 2
2                 3
3  {'4': 5, '6': 7}

# other

In [ ]:
from pandas.io.json import json_normalize

In [23]:
data = [{'state': 'Florida',
         'shortname': 'FL',
        'info': {
               'governor': 'Rick Scott'
          },
          'counties': [{'name': 'Dade', 'population': 12345},
                      {'name': 'Broward', 'population': 40000},
                      {'name': 'Palm Beach', 'population': 60000}]},
         {'state': 'Ohio',
          'shortname': 'OH',
          'info': {
               'governor': 'John Kasich'
          },
          'counties': [{'name': 'Summit', 'population': 1234},
                       {'name': 'Cuyahoga', 'population': 1337}]}]

In [24]:
result = json_normalize(data, 'counties', ['state', 'shortname',
                                         ['info', 'governor']])

In [25]:
result

         name  population    state shortname info.governor
0        Dade       12345  Florida        FL    Rick Scott
1     Broward       40000  Florida        FL    Rick Scott
2  Palm Beach       60000  Florida        FL    Rick Scott
3      Summit        1234     Ohio        OH   John Kasich
4    Cuyahoga        1337     Ohio        OH   John Kasich

In [27]:
c = json.loads(a)

In [29]:
type(c)

list