# Library & Data Import

In [14]:
import pandas as pd
import numpy as np
import json

# String in df cell -> List -> pandas dataframe

## Load Data as dataframe

In [15]:
#Load Data
df = pd.read_excel('/Users/ahuntley@uk.ibm.com/Desktop/Data_Science_Learning/*Python/TED Talks/TEDtalks_Date_Added - Kumu 1 line.xlsx', index_col=False)
df.columns

Index(['ID', 'Label', 'Title', 'description', 'main_speaker',
       'speaker_occupation', 'num_speaker', 'duration', 'event', 'film_date',
       'published_date', 'comments', 'tags', 'languages', 'ratings',
       'related_talks', 'url', 'views'],
      dtype='object')

In [16]:
df.head()

,ID,Label,Title,description,main_speaker,speaker_occupation,num_speaker,duration,event,film_date,published_date,comments,tags,languages,ratings,related_talks,url,views
0,0,Do schools kill creativity?,Ken Robinson: Do schools kill creativity?,Sir Ken Robinson makes an entertaining and pro...,Ken Robinson,Author/educator,1,1164,TED2006,2006-02-25,2006-06-27,4553,children|creativity|culture|dance|education|pa...,60,"[{'id': 7, 'name': 'Funny', 'count': 19645}, {...","[{'id': 865, 'hero': 'https://pe.tedcdn.com/im...",https://www.ted.com/talks/ken_robinson_says_sc...,47227110

## iloc: Extract string from cell in dataframe

In [17]:
df_iloc = df.loc[0,'related_talks'] #First row ID, column 'related_talks'
df_iloc

'[{\'id\': 865, \'hero\': \'https://pe.tedcdn.com/images/ted/172559_800x600.jpg\', \'speaker\': \'Ken Robinson\', \'title\': \'Bring on the learning revolution!\', \'duration\': 1008, \'slug\': \'sir_ken_robinson_bring_on_the_revolution\', \'viewed_count\': 7266103}, {\'id\': 1738, \'hero\': \'https://pe.tedcdn.com/images/ted/de98b161ad1434910ff4b56c89de71af04b8b873_1600x1200.jpg\', \'speaker\': \'Ken Robinson\', \'title\': "How to escape education\'s death valley", \'duration\': 1151, \'slug\': \'ken_robinson_how_to_escape_education_s_death_valley\', \'viewed_count\': 6657572}, {\'id\': 2276, \'hero\': \'https://pe.tedcdn.com/images/ted/3821f3728e0b755c7b9aea2e69cc093eca41abe1_2880x1620.jpg\', \'speaker\': \'Linda Cliatt-Wayman\', \'title\': \'How to fix a broken school? Lead fearlessly, love hard\', \'duration\': 1027, \'slug\': \'linda_cliatt_wayman_how_to_fix_a_broken_school_lead_fearlessly_love_hard\', \'viewed_count\': 1617101}, {\'id\': 892, \'hero\': \'https://pe.tedcdn.com/images/ted/e79958940573cc610ccb583619a54866c41ef303_2880x1620.jpg\', \'speaker\': \'Charles Leadbeater\', \'title\': \'Education innovation in the slums\', \'duration\': 1138, \'slug\': \'charles_leadbeater_on_education\', \'viewed_count\': 772296}, {\'id\': 1232, \'hero\': \'https://pe.tedcdn.com/images/ted/0e3e4e92d5ee8ae0e43962d447d3f790b31099b8_800x600.jpg\', \'speaker\': \'Geoff Mulgan\', \'title\': \'A short intro to the Studio School\', \'duration\': 376, \'slug\': \'geoff_mulgan_a_short_intro_to_the_studio_school\', \'viewed_count\': 667971}, {\'id\': 2616, \'hero\': \'https://pe.tedcdn.com/images/ted/71cde5a6fa6c717488fb55eff9eef939a9241761_2880x1620.jpg\', \'speaker\': \'Kandice Sumner\', \'title\': "How America\'s public schools keep kids in poverty", \'duration\': 830, \'slug\': \'kandice_sumner_how_america_s_public_schools_keep_kids_in_poverty\', \'viewed_count\': 1181333}]'

In [18]:
type(df_iloc)

str

## eval() Converting string into Python Code e.g. str into list
https://stackoverflow.com/questions/988228/convert-a-string-representation-of-a-dictionary-to-a-dictionary

In [19]:
L1 = eval(df_iloc)
eval(df_iloc)

[{'id': 865,
  'hero': 'https://pe.tedcdn.com/images/ted/172559_800x600.jpg',
  'speaker': 'Ken Robinson',
  'title': 'Bring on the learning revolution!',
  'duration': 1008,
  'slug': 'sir_ken_robinson_bring_on_the_revolution',
  'viewed_count': 7266103},
 {'id': 1738,
  'hero': 'https://pe.tedcdn.com/images/ted/de98b161ad1434910ff4b56c89de71af04b8b873_1600x1200.jpg',
  'speaker': 'Ken Robinson',
  'title': "How to escape education's death valley",
  'duration': 1151,
  'slug': 'ken_robinson_how_to_escape_education_s_death_valley',
  'viewed_count': 6657572},
 {'id': 2276,
  'hero': 'https://pe.tedcdn.com/images/ted/3821f3728e0b755c7b9aea2e69cc093eca41abe1_2880x1620.jpg',
  'speaker': 'Linda Cliatt-Wayman',
  'title': 'How to fix a broken school? Lead fearlessly, love hard',
  'duration': 1027,
  'slug': 'linda_cliatt_wayman_how_to_fix_a_broken_school_lead_fearlessly_love_hard',
  'viewed_count': 1617101},
 {'id': 892,
  'hero': 'https://pe.tedcdn.com/images/ted/e79958940573cc610ccb583619a54866c41ef303_2880x1620.jpg',
  'speaker': 'Charles Leadbeater',
  'title': 'Education innovation in the slums',
  'duration': 1138,
  'slug': 'charles_leadbeater_on_education',
  'viewed_count': 772296},
 {'id': 1232,
  'hero': 'https://pe.tedcdn.com/images/ted/0e3e4e92d5ee8ae0e43962d447d3f790b31099b8_800x600.jpg',
  'speaker': 'Geoff Mulgan',
  'title': 'A short intro to the Studio School',
  'duration': 376,
  'slug': 'geoff_mulgan_a_short_intro_to_the_studio_school',
  'viewed_count': 667971},
 {'id': 2616,
  'hero': 'https://pe.tedcdn.com/images/ted/71cde5a6fa6c717488fb55eff9eef939a9241761_2880x1620.jpg',
  'speaker': 'Kandice Sumner',
  'title': "How America's public schools keep kids in poverty",
  'duration': 830,
  'slug': 'kandice_sumner_how_america_s_public_schools_keep_kids_in_poverty',
  'viewed_count': 1181333}]

In [20]:
type(eval(df_iloc))

list

In [21]:
L1

[{'id': 865,
  'hero': 'https://pe.tedcdn.com/images/ted/172559_800x600.jpg',
  'speaker': 'Ken Robinson',
  'title': 'Bring on the learning revolution!',
  'duration': 1008,
  'slug': 'sir_ken_robinson_bring_on_the_revolution',
  'viewed_count': 7266103},
 {'id': 1738,
  'hero': 'https://pe.tedcdn.com/images/ted/de98b161ad1434910ff4b56c89de71af04b8b873_1600x1200.jpg',
  'speaker': 'Ken Robinson',
  'title': "How to escape education's death valley",
  'duration': 1151,
  'slug': 'ken_robinson_how_to_escape_education_s_death_valley',
  'viewed_count': 6657572},
 {'id': 2276,
  'hero': 'https://pe.tedcdn.com/images/ted/3821f3728e0b755c7b9aea2e69cc093eca41abe1_2880x1620.jpg',
  'speaker': 'Linda Cliatt-Wayman',
  'title': 'How to fix a broken school? Lead fearlessly, love hard',
  'duration': 1027,
  'slug': 'linda_cliatt_wayman_how_to_fix_a_broken_school_lead_fearlessly_love_hard',
  'viewed_count': 1617101},
 {'id': 892,
  'hero': 'https://pe.tedcdn.com/images/ted/e79958940573cc610ccb583619a54866c41ef303_2880x1620.jpg',
  'speaker': 'Charles Leadbeater',
  'title': 'Education innovation in the slums',
  'duration': 1138,
  'slug': 'charles_leadbeater_on_education',
  'viewed_count': 772296},
 {'id': 1232,
  'hero': 'https://pe.tedcdn.com/images/ted/0e3e4e92d5ee8ae0e43962d447d3f790b31099b8_800x600.jpg',
  'speaker': 'Geoff Mulgan',
  'title': 'A short intro to the Studio School',
  'duration': 376,
  'slug': 'geoff_mulgan_a_short_intro_to_the_studio_school',
  'viewed_count': 667971},
 {'id': 2616,
  'hero': 'https://pe.tedcdn.com/images/ted/71cde5a6fa6c717488fb55eff9eef939a9241761_2880x1620.jpg',
  'speaker': 'Kandice Sumner',
  'title': "How America's public schools keep kids in poverty",
  'duration': 830,
  'slug': 'kandice_sumner_how_america_s_public_schools_keep_kids_in_poverty',
  'viewed_count': 1181333}]

In [22]:
L1[0]['hero'] #SUCCESS pulling from the 'hero' key pair in the first dictionary in the list

'https://pe.tedcdn.com/images/ted/172559_800x600.jpg'

# Convert a list of dictionaries to a dataframe EASY!!!!!

In [23]:
pd.DataFrame(L1) #Convert a list of dictionaries to a dataframe

,duration,hero,id,slug,speaker,title,viewed_count
0,1008,https://pe.tedcdn.com/images/ted/172559_800x60...,865,sir_ken_robinson_bring_on_the_revolution,Ken Robinson,Bring on the learning revolution!,7266103
1,1151,https://pe.tedcdn.com/images/ted/de98b161ad143...,1738,ken_robinson_how_to_escape_education_s_death_v...,Ken Robinson,How to escape education's death valley,6657572
2,1027,https://pe.tedcdn.com/images/ted/3821f3728e0b7...,2276,linda_cliatt_wayman_how_to_fix_a_broken_school...,Linda Cliatt-Wayman,"How to fix a broken school? Lead fearlessly, l...",1617101
3,1138,https://pe.tedcdn.com/images/ted/e79958940573c...,892,charles_leadbeater_on_education,Charles Leadbeater,Education innovation in the slums,772296
4,376,https://pe.tedcdn.com/images/ted/0e3e4e92d5ee8...,1232,geoff_mulgan_a_short_intro_to_the_studio_school,Geoff Mulgan,A short intro to the Studio School,667971
5,830,https://pe.tedcdn.com/images/ted/71cde5a6fa6c7...,2616,kandice_sumner_how_america_s_public_schools_ke...,Kandice Sumner,How America's public schools keep kids in poverty,1181333

# For Looping to get all cell data from original dataframe

## Load data with 3 rows of data

In [24]:
df_3 = pd.read_excel('/Users/ahuntley@uk.ibm.com/Desktop/Data_Science_Learning/*Python/TED Talks/TEDtalks_Date_Added - Kumu 3 lines.xlsx', index_col=False)
df_3.head()

,ID,Label,Title,description,main_speaker,speaker_occupation,num_speaker,duration,event,film_date,published_date,comments,tags,languages,ratings,related_talks,url,views
0,0,Do schools kill creativity?,Ken Robinson: Do schools kill creativity?,Sir Ken Robinson makes an entertaining and pro...,Ken Robinson,Author/educator,1,1164,TED2006,2006-02-25,2006-06-27,4553,children|creativity|culture|dance|education|pa...,60,"[{'id': 7, 'name': 'Funny', 'count': 19645}, {...","[{'id': 865, 'hero': 'https://pe.tedcdn.com/im...",https://www.ted.com/talks/ken_robinson_says_sc...,47227110
1,1346,Your body language may shape who you are,Amy Cuddy: Your body language may shape who yo...,"Body language affects how others see us, but i...",Amy Cuddy,Social psychologist,1,1262,TEDGlobal 2012,2012-06-26,2012-10-01,2290,bodylanguage|brain|business|psychology|self|su...,51,"[{'id': 23, 'name': 'Jaw-dropping', 'count': 3...","[{'id': 605, 'hero': 'https://pe.tedcdn.com/im...",https://www.ted.com/talks/amy_cuddy_your_body_...,43155405
2,677,How great leaders inspire action,Simon Sinek: How great leaders inspire action,Simon Sinek has a simple but powerful model fo...,Simon Sinek,Leadership expert,1,1084,TEDxPuget Sound,2009-09-17,2010-05-04,1930,TEDx|business|entrepreneur|leadership|success,45,"[{'id': 21, 'name': 'Unconvincing', 'count': 9...","[{'id': 814, 'hero': 'https://pe.tedcdn.com/im...",https://www.ted.com/talks/simon_sinek_how_grea...,34309432

# Extracting data from list of dictionary with for loop

## Simple Example

In [26]:
t = [{'id': 1.0, 'b': 2.0},
    {'id': 1.0, 'b': 2.0}]

new_list = [i['id'] for i in t]
new_list

[1.0, 1.0]

## With 3 lines of data

In [27]:
# Extract full column of data, with corrosponding talk ID's
df_ID_Related_talks = df_3[["ID","related_talks"]]
df_ID_Related_talks

     ID                                      related_talks
0     0  [{'id': 865, 'hero': 'https://pe.tedcdn.com/im...
1  1346  [{'id': 605, 'hero': 'https://pe.tedcdn.com/im...
2   677  [{'id': 814, 'hero': 'https://pe.tedcdn.com/im...

In [28]:
P = df_ID_Related_talks[['related_talks']]
P

                                       related_talks
0  [{'id': 865, 'hero': 'https://pe.tedcdn.com/im...
1  [{'id': 605, 'hero': 'https://pe.tedcdn.com/im...
2  [{'id': 814, 'hero': 'https://pe.tedcdn.com/im...

In [54]:

a = eval(df_iloc)

In [55]:
pd.DataFrame(a)

,duration,hero,id,slug,speaker,title,viewed_count
0,1008,https://pe.tedcdn.com/images/ted/172559_800x60...,865,sir_ken_robinson_bring_on_the_revolution,Ken Robinson,Bring on the learning revolution!,7266103
1,1151,https://pe.tedcdn.com/images/ted/de98b161ad143...,1738,ken_robinson_how_to_escape_education_s_death_v...,Ken Robinson,How to escape education's death valley,6657572
2,1027,https://pe.tedcdn.com/images/ted/3821f3728e0b7...,2276,linda_cliatt_wayman_how_to_fix_a_broken_school...,Linda Cliatt-Wayman,"How to fix a broken school? Lead fearlessly, l...",1617101
3,1138,https://pe.tedcdn.com/images/ted/e79958940573c...,892,charles_leadbeater_on_education,Charles Leadbeater,Education innovation in the slums,772296
4,376,https://pe.tedcdn.com/images/ted/0e3e4e92d5ee8...,1232,geoff_mulgan_a_short_intro_to_the_studio_school,Geoff Mulgan,A short intro to the Studio School,667971
5,830,https://pe.tedcdn.com/images/ted/71cde5a6fa6c7...,2616,kandice_sumner_how_america_s_public_schools_ke...,Kandice Sumner,How America's public schools keep kids in poverty,1181333

In [47]:
#Find a way to convert all related_talk content to List with eval() method
df_ID_Related_talks.eval(P, inplace=True)
type(df_ID_Related_talks[1]["ID"])

StopIteration:

## Extracting individual listed dictionary key values when a list (after eval() method)

In [31]:
text = [{'id': 184, 'hero': 'https://pe.tedcdn.com/images/ted/ca8d90c65e9e596127b720b648a07dfd2ea45e7d_2880x1620.jpg', 'speaker': 'VS Ramachandran', 'title': '3 clues to understanding your brain', 'duration': 1414, 'slug': 'vilayanur_ramachandran_on_your_mind', 'viewed_count': 3930197}, {'id': 236, 'hero': 'https://pe.tedcdn.com/images/ted/35408_480x360.jpg', 'speaker': 'Christopher deCharms', 'title': 'A look inside the brain in real time', 'duration': 242, 'slug': 'christopher_decharms_scans_the_brain_in_real_time', 'viewed_count': 1485761}, {'id': 189, 'hero': 'https://pe.tedcdn.com/images/ted/c2729c86ea38f47b15ccb09197deed76b50f8fa6_800x600.jpg', 'speaker': 'Sherwin Nuland', 'title': 'How electroshock therapy changed me', 'duration': 1338, 'slug': 'sherwin_nuland_on_electroshock_therapy', 'viewed_count': 1522860}, {'id': 2817, 'hero': 'https://pe.tedcdn.com/images/ted/940535a3dd68ca5bbe45fb7d54535a8990d46e4b_2880x1620.jpg', 'speaker': 'Anil Seth', 'title': 'Your brain hallucinates your conscious reality', 'duration': 1021, 'slug': 'anil_seth_how_your_brain_hallucinates_your_conscious_reality', 'viewed_count': 2663106}, {'id': 1186, 'hero': 'https://pe.tedcdn.com/images/ted/9921d6e3598986f8f1055d15d24a122f4aab3b95_800x600.jpg', 'speaker': 'Simon Lewis', 'title': "Don't take consciousness for granted", 'duration': 1337, 'slug': 'simon_lewis_don_t_take_consciousness_for_granted', 'viewed_count': 690949}, {'id': 1308, 'hero': 'https://pe.tedcdn.com/images/ted/483f84a4cd490b8a4ed1331c489ac04e09bf61b4_800x600.jpg', 'speaker': 'Antonio Damasio', 'title': 'The quest to understand consciousness', 'duration': 1122, 'slug': 'antonio_damasio_the_quest_to_understand_consciousness', 'viewed_count': 1692178}]

In [32]:
new_list = [i['id'] for i in text]
new_list

[184, 236, 189, 2817, 1186, 1308]

### When using the text embedded within the dataframe

In [33]:
#Need to convert the string to list of dictionary
df.head()

,ID,Label,Title,description,main_speaker,speaker_occupation,num_speaker,duration,event,film_date,published_date,comments,tags,languages,ratings,related_talks,url,views
0,0,Do schools kill creativity?,Ken Robinson: Do schools kill creativity?,Sir Ken Robinson makes an entertaining and pro...,Ken Robinson,Author/educator,1,1164,TED2006,2006-02-25,2006-06-27,4553,children|creativity|culture|dance|education|pa...,60,"[{'id': 7, 'name': 'Funny', 'count': 19645}, {...","[{'id': 865, 'hero': 'https://pe.tedcdn.com/im...",https://www.ted.com/talks/ken_robinson_says_sc...,47227110

In [34]:
df2 = df[['ID','related_talks']]
df2

   ID                                      related_talks
0   0  [{'id': 865, 'hero': 'https://pe.tedcdn.com/im...

In [35]:
new_list = [i['id'] for i in df3]
new_list

NameError: name 'df3' is not defined

In [36]:
df3[1]

NameError: name 'df3' is not defined

In [37]:
df3

NameError: name 'df3' is not defined

In [48]:
df_iloc

'[{\'id\': 865, \'hero\': \'https://pe.tedcdn.com/images/ted/172559_800x600.jpg\', \'speaker\': \'Ken Robinson\', \'title\': \'Bring on the learning revolution!\', \'duration\': 1008, \'slug\': \'sir_ken_robinson_bring_on_the_revolution\', \'viewed_count\': 7266103}, {\'id\': 1738, \'hero\': \'https://pe.tedcdn.com/images/ted/de98b161ad1434910ff4b56c89de71af04b8b873_1600x1200.jpg\', \'speaker\': \'Ken Robinson\', \'title\': "How to escape education\'s death valley", \'duration\': 1151, \'slug\': \'ken_robinson_how_to_escape_education_s_death_valley\', \'viewed_count\': 6657572}, {\'id\': 2276, \'hero\': \'https://pe.tedcdn.com/images/ted/3821f3728e0b755c7b9aea2e69cc093eca41abe1_2880x1620.jpg\', \'speaker\': \'Linda Cliatt-Wayman\', \'title\': \'How to fix a broken school? Lead fearlessly, love hard\', \'duration\': 1027, \'slug\': \'linda_cliatt_wayman_how_to_fix_a_broken_school_lead_fearlessly_love_hard\', \'viewed_count\': 1617101}, {\'id\': 892, \'hero\': \'https://pe.tedcdn.com/images/ted/e79958940573cc610ccb583619a54866c41ef303_2880x1620.jpg\', \'speaker\': \'Charles Leadbeater\', \'title\': \'Education innovation in the slums\', \'duration\': 1138, \'slug\': \'charles_leadbeater_on_education\', \'viewed_count\': 772296}, {\'id\': 1232, \'hero\': \'https://pe.tedcdn.com/images/ted/0e3e4e92d5ee8ae0e43962d447d3f790b31099b8_800x600.jpg\', \'speaker\': \'Geoff Mulgan\', \'title\': \'A short intro to the Studio School\', \'duration\': 376, \'slug\': \'geoff_mulgan_a_short_intro_to_the_studio_school\', \'viewed_count\': 667971}, {\'id\': 2616, \'hero\': \'https://pe.tedcdn.com/images/ted/71cde5a6fa6c717488fb55eff9eef939a9241761_2880x1620.jpg\', \'speaker\': \'Kandice Sumner\', \'title\': "How America\'s public schools keep kids in poverty", \'duration\': 830, \'slug\': \'kandice_sumner_how_america_s_public_schools_keep_kids_in_poverty\', \'viewed_count\': 1181333}]'

# Extracting From json
Parse Json extraction? https://stackoverflow.com/questions/7771011/how-to-parse-data-in-json with quote marks

In [39]:
#Simple example
import json
j = json.loads('{"one" : "1", "two" : "2", "three" : "3"}')
print(j['two'])

2

In [40]:
S1 = str(L1) 
k = json.loads(S1)
print(j[0])

JSONDecodeError: Expecting property name enclosed in double quotes: line 1 column 3 (char 2)

In [41]:
type(S1)

str

In [42]:
#Source https://stackoverflow.com/questions/45383702/how-to-use-json-normalize-from-pandas
import pandas as pd
from pandas.io.json import json_normalize
import json

with open('raw_nyc_phil.json', 'r') as f: # 'data.json' is the name of the file
    data = f.readlines()

pd.concat([json_normalize(json.loads(j)) for j in data])

                                            programs
0  [{'season': '1842-43', 'orchestra': 'New York ...