In [1]:
import pandas as pd
import json

In [2]:
df = pd.read_excel('/Users/ahuntley@uk.ibm.com/Desktop/Data_Science_Learning/*Python/TED Talks/TEDtalks_Date_Added - Kumu 1 line.xlsx', index_col=False)
df.columns

Index(['ID', 'Label', 'Title', 'description', 'main_speaker',
       'speaker_occupation', 'num_speaker', 'duration', 'event', 'film_date',
       'published_date', 'comments', 'tags', 'languages', 'ratings',
       'related_talks', 'url', 'views'],
      dtype='object')

In [3]:
df.head()

,ID,Label,Title,description,main_speaker,speaker_occupation,num_speaker,duration,event,film_date,published_date,comments,tags,languages,ratings,related_talks,url,views
0,0,Do schools kill creativity?,Ken Robinson: Do schools kill creativity?,Sir Ken Robinson makes an entertaining and pro...,Ken Robinson,Author/educator,1,1164,TED2006,2006-02-25,2006-06-27,4553,children|creativity|culture|dance|education|pa...,60,"[{'id': 7, 'name': 'Funny', 'count': 19645}, {...","[{'id': 865, 'hero': 'https://pe.tedcdn.com/im...",https://www.ted.com/talks/ken_robinson_says_sc...,47227110

In [9]:
df_list = df["related_talks"]

In [10]:
type(df_list)

pandas.core.series.Series

In [11]:
df_list

0    [{'id': 865, 'hero': 'https://pe.tedcdn.com/im...
Name: related_talks, dtype: object

In [15]:
df_frame = df_list.to_frame()

In [16]:
df_frame

                                       related_talks
0  [{'id': 865, 'hero': 'https://pe.tedcdn.com/im...

In [18]:
df1 = df["related_talks"].apply(pd.Series)
df1

                                                   0
0  [{'id': 865, 'hero': 'https://pe.tedcdn.com/im...